<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>AppData2</string>
	<key>CFBundleExecutable</key>
	<string>AppData2Prefs</string>
	<key>CFBundleIdentifier</key>
	<string>com.yzdmm.appdata2.prefs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppData2Prefs</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>MinimumOSVersion</key>
	<string>14.0</string>
	<key>NSPrincipalClass</key>
	<string>ADPreferencesController</string>
</dict>
</plist>